NPRG036-HW3-T3G5/xml/schemas/schema-1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://mojezoo.cz/"
    targetNamespace="http://mojezoo.cz/">
    
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="https://www.w3.org/2009/01/xml.xsd" />

    <xs:element name="Zoo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Pavilon" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="TypyZvířat" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="TypyStrav" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="Zaměstnanci" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="Výběhy" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    



    <xs:element name="název" type="xs:ID"/> 
    <xs:element name="datumPosledníRekonstrukce" type="xs:date"/>
    <xs:element name="datumVýstavby" type="xs:date"/>
    
    <xs:element name="Pavilon">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="název" maxOccurs="1" />
                <xs:element ref="datumVýstavby" maxOccurs="1"/>
                <xs:element ref="datumPosledníRekonstrukce" maxOccurs="1"/>
                <xs:element ref="Výběh" maxOccurs="unbounded"/>
                <xs:element ref="PrůvodcePavilonem" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREF"></xs:attribute>
        </xs:complexType>
    </xs:element>

    
    <xs:element name="lokaceNaMapě" type="xs:string"/>
    <xs:element name="průměrnáTeplota" type="xs:integer"/>
    <xs:element name="popis">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="xml:lang" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Výběh">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="název"/>
                <xs:element ref="názevProČtení"/>
                <xs:element ref="lokaceNaMapě"/>
                <xs:element ref="datumVýstavby"/>
                <xs:element ref="průměrnáTeplota" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="popis"/>
                <xs:element ref="ZvířeTyp" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Zvíře" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Veterinář" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element ref="Pečovatel" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREF"></xs:attribute>
        </xs:complexType>
    </xs:element>

    
    <xs:element name="jméno" type="xs:string" />
    <xs:element name="popisZdravotníhoStavu" >
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="xml:lang" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="datumNarození" type="xs:date"/>
    <xs:element name="datumPříchoduDoZoo" type="xs:date"/>
    <xs:element name="Zvíře">
        <xs:complexType>
            <xs:sequence maxOccurs="1">
                <xs:element ref="jméno" maxOccurs="1"/>
                <xs:element ref="popisZdravotníhoStavu" maxOccurs="1"/>
                <xs:element ref="datumNarození" maxOccurs="1"/>
                <xs:element ref="datumPříchoduDoZoo" maxOccurs="1"/>
                <xs:element ref="ZvířeTyp" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>








    
    <xs:element name="TypyZvířat">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ZvířeTyp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ZvířeTyp">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element ref="název" maxOccurs="1"/>
                <xs:element ref="názevProČtení" maxOccurs="unbounded"/>
                <xs:element ref="popis" maxOccurs="1"/>
                <xs:element ref="popisChovu" maxOccurs="1"/>
                <xs:element ref="TypStravy" maxOccurs="unbounded"/>
                <xs:element ref="Výběh" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="ref" type="xs:IDREF"></xs:attribute>
        </xs:complexType>
    </xs:element>

  
    <xs:element name="názevProČtení">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="xml:lang" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="popisChovu">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="xml:lang" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="výskytVZoo">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="xml:lang" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="Výběhy">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Výběh"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>












    <xs:element name="TypyStrav">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="TypStravy" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TypStravy">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="cena" maxOccurs="1"/>
                <xs:element ref="kalorie" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="název" type="xs:ID"></xs:attribute>
            <xs:attribute name="ref" type="xs:IDREF"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="moneyValue">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
        
    <xs:element name="cena" type="prizeValue"> 

    </xs:element>

    <xs:element name="kalorie" >
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:complexType name="prizeValue">
        <xs:simpleContent>
            <xs:extension base="moneyValue">
                <xs:attribute  name="currency" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="CZK"/>
                            <xs:enumeration value="EUR"/>
                            <xs:enumeration value="USD"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="název" type="xs:ID" use="required"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>











    <xs:element name="givenName" type="xs:string" />
    <xs:element name="familyName" type="xs:string" />
    <xs:element name="plat" type="prizeValue"/>
    <xs:element name="telefonníČíslo">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:pattern value="tel:\+[0-9]{3}([ ]?[0-9]{3}){3}"></xs:pattern>
            </xs:restriction>
        </xs:simpleType> 
    </xs:element>

    <xs:complexType name="Zaměstnanec" >
        <xs:sequence minOccurs="0">
            <xs:element ref="givenName" />
            <xs:element ref="familyName" />
            <xs:element ref="plat"/>
            <xs:element ref="telefonníČíslo" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="název" type="xs:ID"></xs:attribute>
        <xs:attribute name="ref" type="xs:IDREF"></xs:attribute>
    </xs:complexType>



    <xs:element name="PrůvodcePavilonem"> 
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Zaměstnanec" >
                    <xs:sequence minOccurs="0">
                        <xs:element ref="provádí" maxOccurs="1" minOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="provádí">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Pavilon" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="pečuje">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Výběh" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="spravuje">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Výběh" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Veterinář" >
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Zaměstnanec" >
                    <xs:sequence minOccurs="0">
                        <xs:element ref="pečuje" maxOccurs="1" minOccurs="1" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Pečovatel">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Zaměstnanec">
                    <xs:sequence minOccurs="0">
                        <xs:element ref="spravuje" maxOccurs="1" minOccurs="1" />
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Uklízeč">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Zaměstnanec" />
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="Zaměstnanci">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Uklízeč" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Pečovatel" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Veterinář" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="PrůvodcePavilonem"  minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



</xs:schema>
